ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 14px 46px;
    text-align: center;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background: #04AA6D;
}

